<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="courses"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/profile']">
                <ion-icon slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ 'STUDENTGRADES' | uppercase | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="student-grade">
    <ion-list class="ion-padding">
        <table id="table_id" class="table table-hover table-light display">
            <thead>
                <tr *ngIf="coursedata">
                    <th scope="col">{{ 'ID' | translate }}</th>
                    <th scope="col">{{ 'NAME' | translate }}</th>
                    <th scope="col" *ngFor="let grades of coursedata">{{grades.type}}({{grades.grade}})</th>
                    <th scope="col" *ngIf="courseTotalGrades">Total({{courseTotalGrades.totalGrades}})
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userdata of usertotalgradestotal;index as i;">
                    <th scope="col">{{userdata.user._id}}</th>
                    <th scope="col">{{userdata.user.name}}</th>
                    <th scope="col" *ngFor="let fdata of things[i]">{{fdata}}</th>
                    <th scope="col">{{userdata.totalGrades.totalGrades}}</th>

                </tr>
            </tbody>
        </table>
    </ion-list>
    <!-- (click)="addStudentGrade()" -->
    <div *ngIf="courseDataCode">
        <ion-row *ngIf="isTeacherOrAdmin">
            <ion-col size="6" *ngIf="courseSemesterDataCode">
                <ion-button id="student-grade-addGRADEBtn" *ngIf="hidebutton" type="submit" expand="block"
                    class="ionBtn ionBtn-success" value="AddGrade"
                    [routerLink]="['/course/semester/add-student-grade',courseDataCode.courseCode,courseSemesterDataCode.semester_time]">
                    <ion-icon name="add" slot="start"></ion-icon>
                    {{ 'ADDGRADE' | translate }}
                </ion-button>
            </ion-col>
            <ion-col size="6" *ngIf="courseSemesterDataCode">
                <ion-button id="courses-manageCourseBtn" *ngIf="hidebutton" type="submit" expand="block"
                    class="ionBtn ionBtn-update" value="UpdateGrade"
                    [routerLink]="['/course/semester/update-student-grade',courseDataCode.courseCode,courseSemesterDataCode.semester_time]">
                    <ion-icon name="create-outline" slot="start"></ion-icon>
                    {{ 'UPDATEGRADE' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="courseSemesterDataCode">
            <ion-col size="12">
                <ion-button id="gradessheet-gradesReportBtn" type="submit" expand="block" *ngIf="isTeacherOrAdmin"
                    class="ionBtn ionBtn-success" value="gradesReport"
                    [routerLink]="['/course/semester/students-grades-report',courseDataCode.courseCode,courseSemesterDataCode.semester_time]">
                    <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
                    {{ 'GRADESREPORT' | translate }}
                </ion-button>
            </ion-col>

        </ion-row>

    </div>
</ion-content>